.flexbox {
  display:flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  flex-direction: row;
}

.smallcard {
  background-color: #ffff;
  height: 10vh;
  width: 10vh;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxForChart {
  width: 80vw;
  height: 80vh;
}

.apparentTemperature{
  color:#8884d8;
}
.temperature {
  color:darkslateblue;
}

.flexColumn {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 8vw;
  height: 80vh;
}

.chart {
  display:hidden;
}