.flexbox {
  display:flex;
  width: 100vw;
  justify-content: space-around;
  flex-direction: row;
}

.bigheight {
  height: 100vh;
}

.smallcard {
  background-color: #ffff;
  height: 10vh;
  width: 10vh;
  border-radius: 10px;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  display:none;
}
.smallcardContainer {
  display:none;
  flex-direction: column;
  height: 150vh;
  justify-content: space-around;
}
.boxForChart {
  width: 80vw;
  height: 80vh;
}

.apparentTemperature{
  color:#8884d8;
}
.temperature {
  color:darkslateblue;
}

.flexColumn {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 8vw;
  height: 80vh;
}

@media only screen and (max-width: 600px) {
  .boxForChart {
    display:none;
  }
  .flexColumn {
    display:none;
  }
  .smallcard {
    display: flex;
  }
  .smallcardContainer {
    display:flex;
  }


}

