.weatherCardBorder {
  border: solid 2px rgb(244, 248, 252); 
  background-color: aliceblue;
  padding: 3vw;
  height: 60vh;
  width: 30vw;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5vh;
  box-shadow: 1px;
  -webkit-box-shadow: 7px 11px 61px -22px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 11px 61px -22px rgba(0,0,0,0.75);
  box-shadow: 7px 11px 61px -22px rgba(0,0,0,0.75);
}

h3 {
  color:darkslateblue;
  width: 100%;
}

.flexRight {
  display:flex;
  justify-content: space-around;
}

.alignCenter {
  align-items:center;
}

.weatherInfoP {
  color:darkslateblue;
  width: 100%;
  display:flex;
  flex-direction: row;
  padding-left: 2vw;
  font-size: 18px; 
  width: 100%; 

}


.WholeBody {
  width: 100vw;
  height: 100vh;
}

.topnav {
  width: 100vw;
  height: 10vh;
  display:flex;
  justify-content: center;
  align-items:center;
}




.FlexMiddle {
  display:flex;
  justify-content: center;
  align-items:center;
  height: 80vh;
}

.backButton {
  height: 35px;
  width: 50px;
  background-color: rgb(248, 211, 90);
  border-radius: 5px;
}

.backButton:hover {
  background-color: rgb(255, 196, 0);
}

.headerOfCard {
  font-size: 24px;
  width: 100%;
}



@media only screen and (max-width: 1000px) {
  .weatherCardBorder {
    width: 40vw;
  }
}

@media only screen and (max-width: 800px) {
  .weatherCardBorder {
    width: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  .weatherCardBorder {
    width: 50vw;
  }
}


@media only screen and (max-width: 560px) {
  .weatherCardBorder {
    width: 80vw;
  }
}

