.weatherCardBorder {
  border: solid 1px black;
  height: 50vh;
  width: 25vw;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5vh;
}

.weatherInfoP {
  width: 100%;
  display:flex;
  flex-direction: row;
  background-color:black;
}